.fitguide_block{
	border-bottom: 4px solid #be1e24;
    border-left: 4px solid #be1e24;
}
.fitguide_footer{
	margin-top: 50px;
	text-align: center;
	color: #21304d;
}
.fitguide_footer .fitguide_top_menu_link{
	margin-left: auto;
	margin-right: auto;
	color: #21304d;
	text-transform: uppercase;
}
.fitguide_footer .fitguide_top_menu_link p{
	margin-top: 5px;
	margin-bottom: 5px;
}
.fitguide_footer .fitguide_top_menu_link a{
	color: #21304d;
	text-decoration: none;
	margin-top: 10px;
	font-size: 12px;
}
body{
	margin: 0px;
}
section{
	width: 1086px;
	background: url("img/bg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
.fitguide_top_menu{
	height: 60px;
}
.fitguide_center{
	pointer-events: none;
	position: absolute;
	top: 250px;
	text-align: center;
	width: 1086px;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
}
.fitguide_block{
	margin-left: auto;
    display: flex;
    margin-right: auto;
    width: 1005px;
}
.fitguide_play{
    position: absolute;
    margin-left: 509px;
    top: 650px;
    z-index: 99;
    text-align: center;
   	color: #fff;
}
.fitguide_play img{
	margin-bottom: 10px;
}
.fitguide_play a{
	color: #fff;
	text-decoration: none;
}

.fitguide_extra{
	text-align: center;
	margin-top: 20px;
}
.fitguide_extra a{
	color: #21304d;
	font-size: 14px;
	text-decoration: underline;
}
.fitguide_extra a:hover{
	opacity: 0.8;
}

.fit1{
	background:url('img/woman.jpg');
}
.fit2{
	background:url('img/men.jpg');
}

.video{
	position: relative;
}
.video h1{
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 9;
	color: #fff;
	text-align: center;
	position: absolute;
	padding-top: 300px;
	box-sizing: border-box;
	margin: 0px;
}
.col iframe{
	border:0px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	transition-delay: 0.5s;
	transition-property: opacity;
	border-image-width: 0px;
}
.col:hover iframe{
	opacity: 1;
	cursor: pointer;
}
.col{
	width: 503px;
	height: 750px;
	background-size: cover;
	background-repeat: no-repeat;
}


.fitguide_block .col{
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
    -webkit-filter: brightness(0.9);
}
.fitguide_block .col:hover{
    filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(1%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(0); /* Old WebKit */
    -webkit-filter: brightness(1);
}






button{
	font-weight: bold;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
	text-transform: uppercase;
font-size: 30px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
  border-right:0px solid rgba(0,0,0,0.0);
  border-left:0px solid rgba(0,0,0,0.0);
  padding:20px;
}
span{
  display: block;
  padding: 55px 80px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.col:hover button{
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
.col:hover button::before, .col:hover button::after{
  width: 100%;
}
.col:hover button span::before, .col:hover button span::after{
  height: 100%;
}
/*----- button 1 -----*/
.col:hover .btn-1::before, .col:hover .col .btn-1::after{
  transition-delay: 0.2s;
}
.col:hover .btn-1 span::before, .col:hover .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.col:hover .btn-1 span::before, .col:hover .btn-1 span::after{
  transition-delay: 0.2s;
}



.find_your_fit_logo{
	 -webkit-transition: all .5s;
    transition: all .5s;
    width: auto;
}
.small{
	width: 180px;
	 -webkit-transition: all .5s;
    transition: all .5s;
}


.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600;
	position: relative;
	margin: 10% auto;
	background: transparent;
}
.close {
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -62px;
	text-align: center;
	top: -10px;
	width: 24px;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
}